#banner 
	.banner_content
		%h1 Notepaad
		%p Online notepad. Try it!
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "the greatest notebook application. Period"
		%p.name - Tyler

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Ernest
				%p “Perhaps as you went along you did learn something. I did not care what it was all about. All I wanted to know was how to live in it. Maybe if you found out how to live in it you learned from that what it was all about.” 

			.callout
				%h2 Hemingway
				%p “Listen, Robert, going to another country doesn’t make any difference. I’ve tried all that. You can’t get away from yourself by moving from one place to another. There’s nothing to that.” 

			.callout
				%h2 Sample
				%p “I was pretty well through with the subject. At one time or another I had probably considered it from most of its various angles, including the one that certain injuries or imperfections are a subject of merriment while remaining quite serious for the person possessing them.” 
#bottom_cta
	.wrapper
		%h2 Try it
		%p Sign up, use a fake email!
		%button= link_to "Click me", new_user_registration_path

%footer
	%p hi :)

